<div id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Photo App</h1>
    <p class="lead">Travel, live, capture and share the moments!</p>
    <%= link_to "Sign up!", new_user_registration_path, class: "btn btn-info btn-lg" %>
  </div>
</div>